.cool-blue-lightest {
    background-color: #dce4ef;
}

header.site-header {
    position: fixed;
    border-bottom: thin #323232 solid;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 1rem;
    padding-left: 1rem;
}

div.logo {
    float: left;
    text-align: left;
    width: auto;
    margin-bottom: 1rem;
}

div.logo a {
    display: block;
}

div.logo img {
    float: left;
    margin-right: .5rem;
}

div.logo h1 {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #112e51;
}

header.site-header div.user-controls { 
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
}

header.site-header p.welcome {
    display: inline;
    margin-right: 3rem;
}

header.site-header ul.usa-unstyled-list {
    display: inline;
}

header.site-header ul.usa-unstyled-list li {
    display: inline;
    margin-right: 3rem;
}


@media (min-width: 1024px) {
    body.logged-in.admin div.main-content {
        margin-top: 10rem;
    }
    div.main-content {
        margin-top: 10rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body.logged-in.admin div.main-content {
        margin-top: 20rem;
    }

    div.main-content {
        margin-top: 10rem;
    }
}

@media (min-width: 568px) and (max-width: 1023px) {
    body.logged-in.admin div.main-content {
        margin-top: 20rem;
    }

    div.main-content {
        margin-top: 10rem;
    }
}

@media (max-width: 567px) {
    body.logged-in.admin div.main-content {
        margin-top: 32rem;
    }

    div.main-content {
        margin-top: 15rem;
    }
}
