{
  "development": {
    "username": "node_sample",
    "password": "node_sample_super_secret_password_and_stuff",
    "database": "node_sample",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "node_sample",
    "password": "node_sample_super_secret_password_and_stuff",
    "database": "node_sample",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "node_sample",
    "password": "node_sample_super_secret_password_and_stuff",
    "database": "node_sample",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
