var sequelize = new Sequelize('sumo_me', 'sumo_me', 'sumo_me_super_secret_password_and_stuff', {
  host: 'localhost',
  dialect: 'mysql',
  pool: {
    max: 5,
    min: 0,
    idle: 8000
  }
});

module.exports = sequelize;
